{% load static %}
<link rel="stylesheet" href = "{% static 'css/styles.css' %}">
{% block content %}
<div class = "forms">
<h2 class = "innerforms">Sign In</h2>
<p class = "innerforms">Enter your email below to login to your account</p>
<form method = "post">{% csrf_token %}
    <div class = "innerforms">
<label for = "email">Email</label>
{{form.username}}
{{form.username.errors}}
    </div>
    <div class = "innerforms">
<label for = "password">Password</label>
{{form.password}}
{{form.password.errors}}
    </div>
    <button type = "submit" class = "submit">Login</button>
</form>
</div>
{% endblock content %}
