{% load static %}
<link rel="stylesheet" href = "{% static 'css/style.css' %}">
{% block content %}
<!-- <div class = "backgrndimg"></div> -->
<div class = "wrapper">
    <div class="left-side">
        <div class="title">
        <h1>AuthForge</h1>
        <img src = "{% static 'images/Screenshot 2026-04-06 at 11.05.05 in the morning.png' %}">
        </div>
        <div class="bottom-content">
        <p>You Can Easily</p><br>
        <h2>Manage users and access</h2><br>
        <h2>with clarity and <i>Confidence</i></h2>
        </div>
    </div>
    <div class = "right-side">
        <h2>Sign Up</h2>
        <p>Enter Your Credentials to Login</p>
        <form method = "POST">{% csrf_token %}

            <div class = "form-group">
                <label>Username</label>
                {{form.username}}
                {{form.username.errors}}
            </div>

            <div class="form-group">
                <label>Password</label>
                {{form.password}}
                {{form.password.errors}}
            </div>

            <button type = "subimt">Login</button>

        </form>
        <p><a href = "{% url 'password_reset'%}">Forgot Password?</a></p>
        <p><a href = "{% url 'signup' %}">Create New Account</a></p>
    </div>
</div>
{% endblock content %}
