{% block content %}
<div class="wrapper">
<h1 class="innerforms">Set a New Password</h1>

{% if validlink %}

<form method="POST">
    {% csrf_token %}

    <div class="innerforms">
        <label>New Password</label>
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
    </div>

    <div class="innerforms">
        <label>Repeat Password</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>

    <button type="submit" class="submit">Reset Password</button>
</form>

{% else %}

<p>
This password reset link is invalid or has already been used.
Please request a new password reset.
</p>

{% endif %}

</div>
    <button type="submit" class="submit">Reset Password</button>
</form>
</div>
</div>
{% endblock content %}
