{% load static %}
<link rel = "stylesheet" href = "{% static 'css/style.css' %}">
{% block content %}
<div class = "wrapper">
    <div class="left-side">
        <div class="title">
        <h1>AuthForge</h1>
        <img src = "{% static 'images/Screenshot 2026-04-06 at 11.05.05 in the morning.png' %}">
        </div>
        <div class="bottom-content">
        <p>You Can Easily</p><br>
        <h2>Manage users and access</h2><br>
        <h2>with clarity and <i>Confidence</i></h2>
        </div>
    </div>
    <div class = "left-side">
        <h2>Password Change</h2>
        <p>Please Enter Your Old Password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly</p>
        <form method = "post">
        {% csrf_token %}
        <div class = "form-group">
            <label for = "OldPassword">Old Password</label>
            {{form.old_password}}
            {{form.old_password.errors}}
        </div>
        <div class = "form-group">
            <label for = "newpassword">New Password</label>
            {{form.new_password1}}
            {{form.new_password2.errors}}
        </div>
        <div class = "form-group">
            <label for = "password2">  Re-Enter Password </label>
            {{form.new_password2}}
            {{form.new_password2.errors}}
        </div>
        <button type = "submit" class = "submit">Change My Password</button>
        </form>
    </div>
</div>
{% endblock content %}
