{% block content %}
<div class = "forms">
<h2>Sign Up</h2>
<p>Enter your email below to create an account</p>
<form method = "post">{% csrf_token %}
<label for = "firstname">First Name</label>
{{form.firstname}}
{{form.firstname.errors}}
<label for = "lastname">Last Name</label>
{{form.lastname}}
{{form.lastname.errors}}
<label for = "email">Email</label>
{{form.email}}
{{form.email.errors}}
<label for = "password1">Password</label>
{{form.password1}}
{{form.password1.errors}}
<label for = "password2">Confirm Password</label>
{{form.password2}}
{{form.password2.errors}}
</form>
</div>
{% endblock content %}
