@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --base-color: #000000;
    --base-variant:#e8e9ed;
    --text-color:#ffffff;
    --secondary-text:#232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --hover-color:#c1c1c6;
    --line-color:#42434a;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Mono', Poppins;
}
body{
    min-height:100dvh;
    min-height:100vh;
    display:grid;
    grid-template-columns: auto 1fr;
    background-color:var(--base-color);
    color:var(--text-color);
}
#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding:5px 5px;
    background-color: var(--base-color);
    border: 1px solid var(--line-color);
}
#sidebar ul{
    list-style: none;
}
#sidebar > ul >li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
        font-weight: 600;
    }
}
#sidebar 
