:root{
    --base-color: white;
    --base-variant:#e8e9ed;
    --text-color:#111528;
    --secondary-text:#232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --hover-color:#c1c1c6;
}
.darkmode{
    --base-color2: #070b1d;
    --base-variant2:#101425;
    --text-color2:#ffffff;
    --secondary-text2:#a4a5b8;
    --primary-color2: #3a435d;
    --accent-color2: #0071ff;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}
body{
    min-height:100vh;
    display:grid;
    grid-template-columns: auto 1fr;
}
#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    border-right: 1px solid var(--text-color);
    position: sticky;
    top:0;
    align-self:start;
    transition: 300ms ease-in-out;
    overflow:hidden;
    text-wrap: nowrap;
    box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.5);
}
#sidebar.close{
    padding:5px;
    width:60px;
}
.toppro{
    padding-left:10px;
}
/* Make the top one on top from the others */
#top{
    display:grid;
    grid-template-columns: auto 1fr;
    margin-bottom:16px;
    padding:5px 1em;
    .logo{
        font-weight: 400;
    }
}
.small{
    font-size: 15px;
}
#sidebar a{
    list-style: none;
}
#sidebar a, #sidebar, #sidebar.logo{
    border-radius:5em;
    padding:1em;
    text-decoration: none;
    color: var(--text-color);
    display:flex;
    align-items: center;
    gap: 1em;
}
#sidebar svg{
    flex-shrink:0;
    fill: var(--text-color);
}
#sidebar a:hover{
    background-color: var(--hover-color);
}
.rotate svg:last-child{
    rotate:180deg;
}
#sidebar ul{
    list-style-type: none;
}
#toggle-btn{
    margin-left:auto;
    padding:1em;
    border:none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    svg{
        transition:rotate 150ms ease;
    }
}

/* #sidebar > ul >li :first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom:16px;
    .logo{
        font-weight: 600;
    }
} */
#sidebar ul li.active{
    color: var(--hover-clr);
}
#top-profile{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    gap: 10px;
    padding-left: 8px;

}
li:first-child{
    position: absolute;
    top: 20px;
    left:0;
}
li:last-child{
    position:absolute;
    bottom:20px;
}
/* .first-wrapper{ */
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
/* } */
.first-wrapper h2{
    align-items: start;
    padding:10px;
}
.status{
    width:90%;
    min-width: 0;
    height:300px;
    border: 1px solid black;
    margin:50px;
    border-radius: 15px;
}
.status:hover{
    background-color: var(--text-color);
    color:white;
    transition-duration: 0.3s;
    transform: scale(1.01);
    transition-timing-function: ease-in;
}
.second-wrapper{
    display:flex;
    flex-direction: column;
}
/* .second-wrapper h2{ */
    /* align-items: start; */
    /* padding:10px; */
/* } */
/* h1{ */
    /* padding:40px; */
    /* margin:10px; */
/* } */
/* .active-users{ */
    /* display:grid; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    /* gap:10px; */
/* } */
