:root{
    --base-color: white;
    --base-variant:#e8e9ed;
    --text-color:#111528;
    --secondary-text:#232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --new-bg: #00FF6A;
}
.darkmode{
    --base-color2: #070b1d;
    --base-variant2:#101425;
    --text-color2:#ffffff;
    --secondary-text2:#a4a5b8;
    --primary-color2: #3a435d;
    --accent-color2: #0071ff;
}
*{
    margin:0;
    padding:0;
    font-family: Poppins;
}
body{
    min-height:100vh;
    background-color:var(--base-color);
    color: var(--text-color);
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.right-side{
    display:flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: center;
    height:80vh;

}
.left-side{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
