.forms{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.innerforms{
    display: flex;
    margin:10px;
    gap:20px;
}
.names{
    display: flex;
    flex-direction: row;
}
.submit{
    height:45px;
    width:100%;
}
