:root{
    --base-color: white;
    --base-variant:#e8e9ed;
    --text-color:#111528;
    --secondary-text:#232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
    --new-bg: #00FF6A;
}
.darkmode{
    --base-color2: #070b1d;
    --base-variant2:#101425;
    --text-color2:#ffffff;
    --secondary-text2:#a4a5b8;
    --primary-color2: #3a435d;
    --accent-color2: #0071ff;
}
*{
    margin:0;
    padding:0;
    font-family: Poppins;
}
body{
    min-height:100vh;
    background-color:var(--base-color);
    color: var(--text-color);
}
.backgrndimg{
    background-image: url(../images/Screenshot\ 2026-03-19\ at\ 8.41.38\ in\ the\ morning.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.rightside{

}
.leftside{
    
}
