{%extends 'base.html'%}

{%block content%}
<div id = "top-section">
<div id = "total-users">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm720 0v-120q0-44-24.5-84.5T666-434q51 6 96 20.5t84 35.5q36 20 55 44.5t19 53.5v120H760ZM247-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47Zm466 0q-47 47-113 47-11 0-28-2.5t-28-5.5q27-32 41.5-71t14.5-81q0-42-14.5-81T544-792q14-5 28-6.5t28-1.5q66 0 113 47t47 113q0 66-47 113ZM120-240h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-240Zm0-400Z"/></svg>
    <span>Total Users</span>
    <h3>1284</h3>
</div>
<div id = "total-users">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M326-171q-15-11-22-28l-92-241H40v-80h228l92 244 184-485q7-17 22-28t34-11q19 0 34 11t22 28l92 241h172v80H692l-92-244-184 485q-7 17-22 28t-34 11q-19 0-34-11Z"/></svg>
    <span>Active Now</span>
    <h3>42</h3>
</div>
<div id = "total-users">
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m136-240-56-56 296-298 160 160 208-206H640v-80h240v240h-80v-104L536-320 376-480 136-240Z"/></svg>
    <span>New this week</span>
    <h3>3</h3>
</div>
</div>

<div id = "chart">
    <h4>User Growth</h4>
    <p>Daily Active Users & Sessions</p>
</div>
<div id = "pie">

</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>var options = {
    chart: {
    type: "area",
    toolbar : {
        tools:{
            download: false,
            selection: false,
            zoom: false,
            zoomin: false,
            zoomout: false,
            pan: false,
            reset: false
        }
    }
    },
    dataLabels: {
    enabled: false
    },
    series: [
    {
    name: "Series 1",
    data: [45, 52, 38, 45, 19, 23, 2],
    }
    ],
    fill: {
    type: "gradient",
    gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.9,
        opacityTo: 0.6,
        stops: [0, 90, 100],
        gradientToColors: ['#105506'],
        }
    },
    xaxis: {
    categories: [
        "01 Jan",
        "02 Jan",
        "03 Jan",
        "04 Jan",
        "05 Jan",
        "06 Jan",
        "07 Jan"
        ],
    },
    colors:
        ['#45ff29'],
    grid : {
        show:false,
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
var option = {
    chart: {
        type: "donut",
    },
    series: [44, 55, 13, 33],
    labels: ['Apple', 'Mango', 'Orange', 'Watermelon']
};
var pie = new ApexCharts(document.querySelector("#pie"),option);
pie.render();
</script>


{%endblock content%}

