{%extends 'base.html'%}

{%block content%}
<div id = "chart"></div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>var options = {
    chart: {
    type: "area",
    toolbar : {
        tools:{
            download: false,
            selection: false,
            zoom: false,
            zoomin: false,
            zoomout: false,
            pan: false,
            reset: false
        }
    }
    },
    dataLabels: {
    enabled: false
    },
    series: [
    {
    name: "Series 1",
    data: [45, 52, 38, 45, 19, 23, 2],
    }
    ],
    fill: {
    type: "gradient",
    gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.9,
        opacityTo: 0.6,
        stops: [0, 90, 100],
        gradientToColors: ['#105506'],
        }
    },
    xaxis: {
    categories: [
        "01 Jan",
        "02 Jan",
        "03 Jan",
        "04 Jan",
        "05 Jan",
        "06 Jan",
        "07 Jan"
        ],
    },
    colors:
        ['#45ff29'],
    grid : {
        show:false,
    }
};

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
</script>

{%endblock content%}

