{%extends 'base.html'%}
{%block content%}
<div id = "top-title">
    <h2>My Profile</h2>
    <p>Manage your personal information and preferences</p>
</div>
<div id = "profile-container">

    <div id="main-display">
    <script>
    document.addEventListener("DOMContentLoaded", function () {

    function loadProfile() {
        fetch("/api/profile/")
            .then(res => res.json())  //changes it to json
            .then(data => {

                let container = document.getElementById("main-display");

                container.innerHTML = `
                    <h2>${data.username}</h2>
                    <p>${data.email}</p>
                    <p>${data.bio}</p>
                `;
            })
            .catch(err => console.error("Fetch error:", err));
    }

    loadProfile();
});
</script>
    </div>
    <div id = "Account-Stats">

    </div>
    <div id = "Personal-Information">

    </div>
    <div id = "Security">

    </div>
    <div id = "Recent-activ">

    </div>
</div>
{% endblock content %}
