{%extends 'base.html'%}
{%block content%}
<div id = "top-title">
    <h2>My Profile</h2>
    <p>Manage your personal information and preferences</p>
</div>
<div id = "profile-container">

    <div id="main-display">
    <script>
    document.addEventListener("DOMContentLoaded", function () {

    function loadProfile() {
        fetch("/api/profile/")
            .then(res => res.json())  //changes it to json
            .then(data => {
                let container = document.getElementById("main-display");
                container.innerHTML = `
                    <h2>${data.Username}</h2>
                    <p>Email:${data.Email}</p>
                    <p>Bio:${data.bio}</p>
                `;
            })
    }
    loadProfile();
});
</script>
    </div>
    <div id = "Account_Stats">
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        function loadactivity(){
            fetch("/api/profile_activity/")
            .then(res => res.json())
            .then(data => {
                let container = document.getElementById("Account_Stats");
                container.innerHTML = `
                <h2>Account Stats</h2>
                <h4> TOTAL LOGINS </h4>
                <h3> ${data.login_count}</h3>
                <h4> LAST LOGIN </h4>
                <h3> ${data.last_login}</h3>
                <h4> ACCOUNT STATUS </h4>
                <h3> ${data.status}</h3>
                `;
            })
        }
        loadactivity();
    })
    </script>


    <div id = "Personal_Information"> </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function loadPersonalInfo(){
                fetch("/api/profile/")
                .then(res => res.json())
                .then(data => {
                    let container = document.getElementById("Personal_Information");
                    container.innerHTML = `
                    <h2>Personal Information</h2>
                    <p> FULL NAME: ${data.FullName}</p>
                    <p> PHONE NUMBER : ${data.Phone_Number}</p>
                    <p> EMAIL ADDRESS : ${data.Email} </p>
                    <p> LAST LOGIN : ${data.Last_Login}</p>
                    `;
                })
                .catch(err=> console.error("Fetch error:", err))
            }
            loadPersonalInfo();
        })
    </script>

    <div id = "Security">
    <h3>Security</h3>
    <a href = "{% url 'password_change' %}">
    <button>Change Password</button>
    </a>
    </div>
    <div id = "Recent-activ">

    </div>
</div>
{% endblock content %}
