{%extends 'base.html'%}
{%block content%}
<div id = "top-title">
    <h2>My Profile</h2>
    <p>Manage your personal information and preferences</p>
</div>
<div id = "profile-container">

    <div id="main-display"></div>
    <script>
    document.addEventListener("DOMContentLoaded", function () {

    function loadProfile() {
        fetch("/api/profile/")
            .then(res => res.json())  //changes it to json
            .then(data => {
                let container = document.getElementById("main-display");
                container.innerHTML = `
                    <h2>${data.Username}</h2>
                    <p>Bio:${data.bio}</p>
                `;
            })
    }
    loadProfile();
});
</script>
    <div id = "Account_Stats">
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        function loadactivity(){
            fetch("/api/profile_activity/")
            .then(res => res.json())
            .then(data => {
                let container = document.getElementById("Account_Stats");
                const formatted = new Date(data.last_login).toLocaleDateString()
                container.innerHTML = `
                <h2>Account Stats</h2>
                <h4> TOTAL LOGINS </h4>
                <h3> ${data.login_count}</h3>
                <h4> LAST LOGIN </h4>
                <h3> ${formatted}</h3>
                <h4> ACCOUNT STATUS </h4>
                <h3> ${data.status}</h3>
                `;
            })
        }
        loadactivity();
    })
    </script>


    <div id = "Personal_Information"> </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function loadPersonalInfo(){
                fetch("/api/profile/")
                .then(res => res.json())
                .then(data => {
                    let container = document.getElementById("Personal_Information");
                    const formatt = new Date(data.Last_Login).toLocaleDateString();
                    container.innerHTML = `
                    <h2>Personal Information</h2>
                    <p> FULL NAME <br> ${data.FullName}</p>
                    <p> PHONE NUMBER <br> ${data.Phone_Number}</p>
                    <p> <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e3e3e3"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm320-280L160-640v400h640v-400L480-440Zm0-80 320-200H160l320 200ZM160-640v-80 480-400Z"/></svg> EMAIL ADDRESS <br> ${data.Email} </p>
                    <p> LAST LOGIN <br> ${formatt}</p>
                    `;
                })
                .catch(err=> console.error("Fetch error:", err))
            }
            loadPersonalInfo();
        })
    </script>

    <div id = "Security">
    <h3>Security</h3>
    <a href = "{% url 'password_change' %}">
    <button>Change Password</button>
    </a>
    </div>
    <div id = "Recent-activ">
    </div>
    <script>
        function getIcon(action){
            action = action.toLowerCase().trim();
            if(action === "login") return  `<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#00BC7D" style="background-color:rgba(0, 65, 0, 0.5);  border:0.2px solid #138e00;"><path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80ZM247-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q440-607 440-640t-23.5-56.5Q393-720 360-720t-56.5 23.5Q280-673 280-640t23.5 56.5Q327-560 360-560t56.5-23.5ZM360-640Zm0 400Z"/></svg>`;
            if(action === "signup") return "🆕";
            if(action === "login_failed") return `<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#FB2C36" style = " background-color: rgba(114, 0, 0, 0.598); border: 0.2px solid rgb(159, 3, 3);"><path d="M449.5-85Q435-91 423-102L102-423q-11-12-17-26.5T79-480q0-16 6-31t17-26l321-321q12-12 26.5-17.5T480-881q16 0 31 5.5t26 17.5l321 321q12 11 17.5 26t5.5 31q0 16-5.5 30.5T858-423L537-102q-11 11-26 17t-31 6q-16 0-30.5-6Zm30.5-74 321-321-321-321-321 321 321 321Zm-40-281h80v-240h-80v240Zm68.5 108.5Q520-343 520-360t-11.5-28.5Q497-400 480-400t-28.5 11.5Q440-377 440-360t11.5 28.5Q463-320 480-320t28.5-11.5ZM480-480Z"/></svg>`;
            if(action === "password_change") return "⚙️";
            return "📌";
        }
        document.addEventListener("DOMContentLoaded", function () {
            function loadrecentactivity(){
                fetch("/api/recent_activity/")
                .then(res => res.json())
                .then(data=> {
                    let container = document.getElementById("Recent-activ");
                    data.activities.forEach(activity => {
                        const minutesAgo = Math.floor(
                    (new Date() - new Date(activity.time)) / 60000
                    );
                        container.innerHTML += `
                        <span>${getIcon(activity.action)}</span>
                        <span>${activity.action}</span>
                        <span>at ${minutesAgo}</span>
                        `;
                    });
                });
            }
            loadrecentactivity();
        });
    </script>
</div>
{% endblock content %}
